.heading-primary {

    font-weight: 400;
    color: $color-white;
    display: inline-block;
    font-size: 4.8rem;

    @media(min-width: 768px) {
        font-size: 7.2rem;
    }

}
.user_name{
    
    font-size: 8.4rem;
    color: white;
    font-weight: 400;
    opacity: 0.8;
    font-variant: small-caps;

}

.heading-secondary {

    font-size: 2.4rem;
    font-weight: 400;
    @include underline;


    @media(min-width: 768px) {
        font-size: 4.5rem;
    }

}

.heading-tertiary {
    font-size: 2.2rem;
    font-weight: 400;

    @media(min-width: 768px) {
        font-size: 2.4rem;
    }

}

